@font-face {
    font-family: 'Museo';
    src: url('../css/Museo300-Regular-webfont.eot');
    src: url('../css/Museo300-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../css/Museo300-Regular-webfont.woff') format('woff'),
         url('../css/Museo300-Regular-webfont.ttf') format('truetype'),
         url('../css/Museo300-Regular-webfont.svg#Museo300Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.group-1
{
	padding: 20px 0px 0px 0px;
	width: 80%;
	margin: 0px auto;
}
.group-type
{
	width:80%;
	text-align: center;
	margin: 20px 20% 0px 20%;
}

.jumbotron
{
	width: 80%;
	margin: 0px auto;
}
.submit-btn
{
	margin: 20px auto 0px auto;
	text-align: center;
	width: 30%;
}
html, body{
	font-family: 'Museo', "Helvetica Neue", sans-serif;
}